/*
***********************************************************************************
**
**   HubSpot QuickStart 
**   Styles.css
**   TJ O'Connor
**   3/12/2012
**
***********************************************************************************
*/

/*
***********************************************************************************
** Main Panel
***********************************************************************************
*/
#htmlFrame
{
    margin: 20px 0;
    min-height: 500px;
    background: white;
    border: solid 1px #cccccc;
}
#htmlFrame > div
{
    width: 820px;
    height: 500px;
    overflow: auto;
}


#htmlFrame div.help > div
{
    padding: 20px;
}

#htmlFrame div.help p
{
    font-size: 14px;
    color: gray;
}


#htmlFrame div.panel > div
{
    padding: 60px 100px 0 !important;
}
#htmlFrame div.panel h1
{
    font-weight: bold;
    font-size: 30px;
}

#htmlFrame div.ajax > div
{
    margin: 130px 130px 0;
    border: solid 1px #cccccc;
    padding: 40px 40px 60px;
    background: #f8f8f8;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -o-border-radius: 7px;
    -ms-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px;
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5),0 0 5px #cccccc;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5),0 0 5px #cccccc;
    -o-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5),0 0 5px #cccccc;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.5),0 0 5px #cccccc;
}
#htmlFrame div.ajax h1
{
    font-weight: bold;
    font-size: 30px;
}
#htmlFrame div.ajax p
{
    margin-bottom: 20px;
    font-size: 14px;
}

/*
***********************************************************************************
** Top Panel
***********************************************************************************
*/
#btnURL
{
    padding: 9px 18px 10px;
    position: relative;
    top: -2px;
}
#txtURL
{
    font-style: italic;
    color: #999999;
}
#txtURL.active, #txtURL.on
{
    font-style: normal;
    color: Black;
}


/*
***********************************************************************************
** Sidebar Navigation
***********************************************************************************
*/
#sidebar
{
    width: 230px;
    float: right;
}
ul#quickstart-steps
{
    list-style: none;
    margin: 20px 0 0 10px;
    padding: 0;
}
ul#quickstart-steps li
{
    padding: 15px 20px 20px;
    border-bottom: dotted 1px #d9d9d9;
}
ul#quickstart-steps.active li
{
    cursor: pointer;
}
ul#quickstart-steps.active li.selected
{
    cursor:default;
}
ul#quickstart-steps li h2
{
    color: #999999;
}
ul#quickstart-steps li.selected h2, ul#quickstart-steps.active li:hover h2
{
    color: #333333;
}
ul#quickstart-steps li > div
{
    display: none;
}


/*
***********************************************************************************
** Logo
***********************************************************************************
*/
#quickstart-logo-preview
{
    border: solid 1px #d9d9d9;
    height: 100px;
    width: 170px;
    background-position:10px 10px;
    background-repeat:no-repeat;
    background-image:none;
}

#quickstart-frame-logo a.logo-thumb
{
    padding: 10px;
    background: white;
    border: solid 5px #ffffff;
    display: block;
    float: left;
    margin: 0 15px 10px 0;
    overflow: hidden;
}
#quickstart-frame-logo a:hover.logo-thumb
{
    border: solid 5px #cccccc;
}
#quickstart-frame-logo a.logo-thumb.selected
{
    border: solid 5px #3574E3;
}
#quickstart-frame-logo a.logo-thumb img
{
    max-height: 100px;
    max-width: 300px;
}

#quickstart-frame-logo a.show-more
{
    display: none;
}
#quickstart-frame-logo a.show-all
{
    clear: both;
    width: auto;
    display: block;
    background: #F8F8F8;
    padding: 0 20px;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    color: #455560;
    font-weight: bold;
}



/*
***********************************************************************************
** Colors
***********************************************************************************
*/
#quickstart-frame-colors h2{margin-bottom:10px;}
#quickstart-frame-colors a.color-swatch{
	display:block;
	float:left;
	height:50px;
	width:50px;
	margin:0 15px 20px 0;
	border:solid 5px #ededed
}
#quickstart-frame-colors a:hover.color-swatch
{
    border: solid 5px #cccccc;
}
#quickstart-frame-colors a.color-swatch.selected
{
    border: solid 5px #3574E3;
}
#quickstart-frame-colors hr{
	margin:20px 0;
	clear:both;
}

#quickstart-colors-preview > div > span.swatch
{
    display: inline-block;
    border: solid 1px #d9d9d9;
    height: 20px;
    width: 20px;
    margin-right: 10px;
	position:relative;
	top:7px;
}

#quickstart-colors-preview > div
{
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    color: black;
    font-weight: bold;
    margin-bottom: 15px;
}


/*
**************************************
**  HS Style Guide Overrides 
**************************************
*/
.highlight
{
    color: #FB6201;
    font-style: italic;
}

.hs-button
{
    text-align: center;
}

.hs-form.stacked
{
    padding-left: 0;
}

.hs-form.stacked div.error
{
    padding: 3px 10px 6px;
    margin: 10px 0 0 0;
    min-width: 390px;
}

div.hs-message
{
    margin: 10px 0 0;
}

.hs-input.huge
{
    width: 590px;
    font-size: 18px;
    padding: 6px;
    height: auto;
}

.hs-form .field-group
{
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -o-border-radius: 7px;
    -ms-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px;
    border: 1px solid #CCC;
    background: white;
    margin: 0px 0px 40px 0px;
    padding: 17px 26px 0px 20px;
    background: #EEE;
}

.hs-form div.actions
{
    -moz-border-radius: 0px 0px 7px 7px;
    -webkit-border-radius: 0px 0px 7px 7px;
    -o-border-radius: 0px 0px 7px 7px;
    -ms-border-radius: 0px 0px 7px 7px;
    -khtml-border-radius: 0px 0px 7px 7px;
    border-radius: 0px 0px 7px 7px;
    margin: 0px -26px 0px;
    padding-left: 176px;
    border-top: 1px solid #DDD;
    padding-left: 26px;
    margin: 0px -26px 0px;
    text-align: right;
    height: 30px;
}
