<!DOCTYPE />
<html lang="en">
<head>
<title>HubSpot - Quickstart Prototype</title>
<link rel="stylesheet" type="text/css" href="https://static.hubspot.com/bundles/style_guide_plus_base_v1.1.css" />
<link rel="stylesheet" type="text/css" href="styles.css" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="scripts.js"></script>
</head>
<body>
<div id="container" style="width: 1100px; margin: 40px auto; display: none;">
  <!-- BEGIN QUICKSTART HTML -->
  <input type="hidden" id="quickstart-step" value="0" />
  <div id="sidebar">
    <ul id="quickstart-steps">
      <li class="quickstart-logo">
        <h2>1. Logo</h2>
        <div id="quickstart-logo-preview"> </div>
      </li>
      <li class="quickstart-colors">
        <h2> 2. Colors</h2>
        <div> <img height="100" width="170" alt=" " /> </div>
      </li>
      <li class="quickstart-nav">
        <h2> 3. Navigation</h2>
        <div> <img height="100" width="170" alt=" " /> </div>
      </li>
      <!--
      <li class="quickstart-layout">
        <h2> 3. Layout</h2>
        <div> <img height="100" width="170" alt=" " /> </div>
      </li>  
	  -->
    </ul>
  </div>
  <div class="hs-form stacked box">
    <fieldset>
    <legend></legend>
    <div class="field-group">
      <div id="quickstart-top">
        <!-- Initial State: URL -->
        <div id="quickstart-url" class="field">
          <div class="input">
            <input id="txtURL" class="hs-input huge" value="" />
            <span style="display: none">Enter the URL of your page and press continue</span>
            <input id="btnURL" type="submit" class="hs-button primary" value="Continue >>" />
          </div>
          <div id="errorURL" class="hs-message error" style="display: none"> <strong>Oops!</strong> That's not a real URL, give it another try :) </div>
        </div>
        <!-- Step One: Logo -->
        <div id="quickstart-top-logo" class="help" style="display:none">
          <h1>1. Your Logo - Select your logo in the window below</h1>
        </div>
        <!-- Step Two: Logo -->
        <div id="quickstart-top-colors" class="help" style="display:none">
          <h1>2. Color Scheme - Select your template colors from the options below</h1>
        </div>
        <!-- Step Three: Navigation -->
        <div id="quickstart-top-nav" class="help" style="display:none">
          <h1>3. Navigation - Select the pages for your navigation bar</h1>
        </div>
        <!-- Step Three: Layout 
        <div id="quickstart-top-layout" class="help" style="display:none">
          <h1>3. Page Layout - Select from a 2-column or 3-column layout</h1>
        </div>
		-->
      </div>
      <div id="htmlFrame">
        <iframe src="frame.html" width="100%" height="560px" scrolling="no" frameborder="0" style="display:none"> </iframe>
        <!-- Initial State: Welcome -->
		
		<div id="quickstart-frame-loading" class="ajax" style="position:absolute; z-index:9999; display:none">
          <div>
            <div style="float:left; width:160px; height:150px;"> <img src="hubspot-small.png" alt="HubSpot" /> </div>
			<br />
            <h1>Just a Moment...</h1>
            <p>We're scanning your existing site to provide you with some options.</p>
            <img src="ajax.gif" alt="loading..." /> </div>
        </div>
        
        <div id="quickstart-frame-welcome" class="panel">
          <div>
            <h1>Welcome to Quickstart!</h1>
            <h2>Create a HubSpot template in <span class="highlight">three</span> easy steps, here's how:</h2>
            <br />
            <br />
            <br />
            <div style="float:left; width:200px; height:300px; margin-right: 20px"> <img src="hubspot.png" alt="HubSpot" /> </div>
            <p><strong>1. Logo</strong><br />
              Pick your logo from your website images.</p>
            <br />
            <br />
            <p><strong>2. Color Scheme</strong><br />
              Pick your primary and secondary colors.</p>
            <br />
            <br />
            <p><strong>3. Navigation</strong><br />
              Select the pages for your navigation bar.</p>
            <!--
		  <p><strong>3. Layout</strong><br />
		  Select a 2 or 3 column layout .</p>
		  -->
          </div>
        </div>
        <!-- Step One: Logo -->
        <div id="quickstart-frame-logo" class="help" style="display:none">
          <div></div>
        </div>
        <!-- Step Two: Logo -->
        <div id="quickstart-frame-colors" class="help" style="display:none">
          <div></div>
        </div>
        <!-- Step Three: Layout -->
        <div id="quickstart-frame-layout" class="help" style="display:none">
          <div></div>
        </div>
        <!-- Step Four: Navigation -->
        <div id="quickstart-frame-nav" class="help" style="display:none">
          <div></div>
        </div>
		
        <div style="clear:both; height:0;"></div>
      </div>
      <div class="actions">
        <input id="btn-reset" type="submit" class="hs-button secondary" value="Cancel / Start Over" style="display: none" />
        &nbsp;&nbsp;
        <input id="btn-continue" type="submit" class="hs-button primary" value="Continue >>" style="display: none" />
        <input id="btn-finish" type="submit" class="hs-button primary" value="Finish and Create Template" style="display:none" />
      </div>
    </div>
    </fieldset>
  </div>
  <!-- END QUICKSTART HTML -->
</div>
</body>
</html>
